.App {
  text-align: center;
  margin: 0 auto;
  width: 1020px;
  height: 1920px;
}
img{
  margin-top: 0;
  object-fit: none;
  object-fit: contain!important;
  width: 1020px;
  height: 1920px;
}


.awssld__content{
  background-color: #450909 !important;
}




