.App {
  text-align: center;
  margin: 0 auto;
  width: 1020px;
  height: 100%;
}
img{
  margin-top: 0;
  width: 1020px;
  height: 1650px;
}
.some_info{
  position: relative;
  z-index: 1;
  background: rgb(0,0,0);
  /*background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 100%) ;*/
  box-shadow: 0px -10px 40px 60px rgba(0, 0, 0, 2);
  color: white;
  height: 270px;
  padding: 15px;
}
.some_info h3{
  margin-top: 10px;
  color: darkorange;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.some_info span{
  color: darkorange;
  font-weight: bold;
  font-size: 17px;
}
.some_info p{
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}
.age span, p{

  font-size: 20px;
}
.age span{
  color: darkorange;
}





